.container-song-play {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  max-width: 1300px;
  background: map-get($map: $colors, $key: red-80);
}

.container-song-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 350px;
}

.song-play-img {
  height: 100px;
  width: 100px;

  img {
    width: 100px;
    height: 100px;
  }
}

.song-play-header {
  color: map-get($map: $colors, $key: white);

  .title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .artist {
    font-weight: 400;
    font-size: 12px;
  }
}

.song-play-player {
  display: none;
}

.container-buttons-play {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-btn-play {
  cursor: pointer;
  padding: 21px 18px 18px 24px;
  border-radius: 50%;

  &.play {
    padding: 21px;
  }

  &:hover {
    background-color: map-get($map: $colors, $key: light-red);
  }
}

.container-btn-left {
  cursor: pointer;
  padding: 15px 12px 12px 10px;
  border-radius: 50%;
  
  &:hover {
    transition: all 500ms ease-in-out;
    background-color: map-get($map: $colors, $key: light-red);
  }
}

.container-btn-right {
  cursor: pointer;
  padding: 15px 12px 12px 10px;
  border-radius: 50%;
  
  &:hover {
    transition: all 500ms ease-in-out;
    background-color: map-get($map: $colors, $key: light-red);
  }
}

.container-song-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}

.volumen {
  cursor: pointer;
}

.mute, .no-mute {
  color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@include breakpoint (tablet) {
  .container-song-play{
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
  }

  .container-song-left {
    gap: 5px;
    justify-content: unset;
  }
}

@include breakpoint (desktop) {
  .container-song-left {
    gap: 20px;
  }
  .container-song-right {
    gap: 40px;
  }

  
}