$colors: (
  dark-red: #662323,
  principal-red: #e86060,
  light-red: #ff7676,
  red-80: #eb5757,
  white: #ffffff,
  gray-text: #555555,
  gray-text-2: #4f4f4f,
  gray: #828282,
  soft-gray: #bdbdbd,
  red-90: #d91023,
);
